@use "../abstracts/variables" as vars;

.container {
  width: 100%;
  max-width: vars.$container-width;
  margin-inline: auto;
}

@media (max-width: 1024px) {
  .container {
    padding-inline: 24px;
  }
}

@media (max-width: 480px) {
  .container {
    padding-inline: 16px;
  }
}