@use "../abstracts/variables" as vars;

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;

  &--static {
    position: static;
  }

  &__inner {
    display: flex;
    align-items: center;
    min-height: 72px;
  }

  &__logo {
    flex-shrink: 0;
    margin-right: 63px;
  }

  &__logo-image {
    width: 132px;
  }

  &__nav {
    flex-shrink: 0;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 28px;
  }

  &__menu-link {
    position: relative;
    letter-spacing: 0.03em;

    &:hover,
    &:focus-visible {
      color: vars.$color-accent;
    }

    &--accent {
      color: vars.$color-accent;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -8px;
        width: calc(100% + 16px);
        height: 1px;
        background-color: currentColor;
        transform: translateY(-50%);
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;
  }

  &__action {
    display: grid;
    width: 20px;
    height: 20px;
    place-items: center;

    &-image {
      width: 18px;
      height: 18px;

      &--heart {
        width: 20px;
        height: 20px;
      }
    }
  }
}