@use "../abstracts/variables" as vars;

.slider-arrow {
  display: grid;
  place-items: center;
  width: 52px;
  height: 12px;

  img {
    width: 52px;
    transition: opacity vars.$transition-duration;
  }

  &:hover img,
  &:focus-visible img {
    opacity: 0.7;
  }
}