@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-semiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant";
  src: url("../assets/fonts/cormorant-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}